In [8]:
import pandas as pd

data = pd.read_csv('Salary_dataset.csv')
data.head()

   Unnamed: 0  YearsExperience   Salary
0           0              1.2  39344.0
1           1              1.4  46206.0
2           2              1.6  37732.0
3           3              2.1  43526.0
4           4              2.3  39892.0

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       30 non-null     int64
 1   YearsExperience  30 non-null     float64
 2   Salary           30 non-null     float64
dtypes: float64(2), int64(1)
memory usage: 848.0 bytes

In [10]:
data = data.drop(columns='Unnamed: 0')
data.describe()

       YearsExperience         Salary
count        30.000000      30.000000
mean          5.413333   76004.000000
std           2.837888   27414.429785
min           1.200000   37732.000000
25%           3.300000   56721.750000
50%           4.800000   65238.000000
75%           7.800000  100545.750000
max          10.600000  122392.000000

In [11]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
data['years_normalized'] = scaler.fit_transform(data['YearsExperience'].values.reshape(-1, 1))
data['salary_normalized'] = scaler.fit_transform(data['Salary'].values.reshape(-1, 1))

data

    YearsExperience    Salary  years_normalized  salary_normalized
0               1.2   39344.0          0.000000           0.019041
1               1.4   46206.0          0.021277           0.100094
2               1.6   37732.0          0.042553           0.000000
3               2.1   43526.0          0.095745           0.068438
4               2.3   39892.0          0.117021           0.025514
5               3.0   56643.0          0.191489           0.223376
6               3.1   60151.0          0.202128           0.264812
7               3.3   54446.0          0.223404           0.197425
8               3.3   64446.0          0.223404           0.315545
9               3.8   57190.0          0.276596           0.229837
10              4.0   63219.0          0.297872           0.301051
11              4.1   55795.0          0.308511           0.213359
12              4.1   56958.0          0.308511           0.227097
13              4.2   57082.0          0.319149           0.228561
14              4.6   61112.0          0.361702           0.276163
15              5.0   67939.0          0.404255           0.356804
16              5.2   66030.0          0.425532           0.334255
17              5.4   83089.0          0.446809           0.535755
18              6.0   81364.0          0.510638           0.515379
19              6.1   93941.0          0.521277           0.663938
20              6.9   91739.0          0.606383           0.637928
21              7.2   98274.0          0.638298           0.715119
22              8.0  101303.0          0.723404           0.750898
23              8.3  113813.0          0.755319           0.898665
24              8.8  109432.0          0.808511           0.846917
25              9.1  105583.0          0.840426           0.801453
26              9.6  116970.0          0.893617           0.935956
27              9.7  112636.0          0.904255           0.884763
28             10.4  122392.0          0.978723           1.000000
29             10.6  121873.0          1.000000           0.993870